body{
    font-family: Arial;
    background-color: #868aa8;
}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-direction: column;
}
h1{
    color: white;
    font-size: 2.5rem;  
}
h2{
    text-align: center;
    color: black;
    font-size: 1.6rem;
    margin: 0px;
}
.conteudo{
    background-color: #fafafa; 
    height: 25rem;
    width: 25rem;
    border-radius: 0.31rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    

}
.botao{
    background-color: #434863;
    border: none;
    color: white;
    border-radius: 0.2rem;
    padding: 1rem 4rem;
    font-size: 1rem;
    
}
input{
    display: block;
    width: 23rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    border:none;
    padding: 0.3rem 1rem;
    font-size: 1.4rem;
    border: 1px solid black;
    color: #434863;
    margin-top: 0.5rem;
}
#resposta{
    height: 5rem;
    background-color: #fafafa;
    width: 14rem;
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 3px;
    align-self: center;
    margin-top: 1rem;
    border: 1px solid black;
    color: #434863;
}